@include block(page) {
    @include element(footer) {
        background: #dfd;
    }
    @include element(header) {
    }
    @include element(sidebar) {
        background: #ffd;
        color: green;
    }

    @include modifier(foo,bar) {
        @include element(page, sidebar) {
            color: red;
        }
    }
}